---
layout: blog
sitemap: false
robots: noindex
---

<div class="container mtb">
    <div class="row">
    
        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8">
        
        <!-- Archive Start -->
<div>
{%for post in site.posts %}
    {% unless post.next %}
        <h3>{{ post.date | date: '%Y' }}</h3>
        <ul>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            </ul>
            <h3>{{ post.date | date: '%Y' }}</h3>
            <ul>
        {% endif %}
    {% endunless %}
    <li><span class="post-date">
        {% assign date_format = site.date_format.archive %}
        {{ post.date | date: date_format }} </span><h4><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
{% endfor %}
</ul>
</div>

    <!-- Archive End -->

        </div><!--/col-lg-8 -->
        <br>
<!-- Sidebar -->
        <div class="col-lg-4">
            {% include sidebar_search_bar.html %}
            {% include sidebar_recent_posts.html %}
            {% include sidebar_categories.html %}
            {% include sidebar_subscribe.html %}
            {% include sidebar_tags.html %}
        </div>
    </div><!-- /row -->
</div><!-- /container -->