---
layout: blog
title: ICT Solved!
redirect_from:
  - /blog/
---

<div class="container mtb">
    <div class="row">
        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8">
          {% include adsense_leaderboard.html %}
            {% for post in paginator.posts %}
                <!-- Blog Post -->
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}" alt="{{ post.imagealt }}">
                </a>    
                <p><small><i class="fa fa-calendar"></i>&nbsp;{{ post.date | date: "%b %-d, %Y" }} &nbsp;&nbsp;<i class="fa fa-user"></i> {{ site.name }} &nbsp;&nbsp;<i class="fa fa-clock-o"></i> Reading time: {% include read_time_blog.html %}</small></p>
                <div align="justify">
                {{ post.excerpt }}
              </div>
                <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="hline"></div>
                <div class="spacing"></div>
            {% endfor %}
{% include adsense_large_rectangle.html %}
            <!-- pagination -->
            <div align="center">
{% if paginator.total_pages > 1 %}
<div class="pagination"> 
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>

        </div><!-- /col-lg-8 -->

        <br>

        <!-- Sidebar -->
        <div class="col-lg-4">
            {% include sidebar_search_bar.html %}
            {% include sidebar_categories.html %}
            {% include adsense.html %}
            {% include sidebar_subscribe.html %}
            {% include sidebar_tags.html %}
            {% include sidebar_post_archive.html %}
        </div>
    </div><!-- /row -->
</div><!-- /container -->
