---
layout: blog
title: Search
permalink: /search
sitemap: false
robots: noindex
---

<!-- Search -->
<script async src="/assets/js/lunr.min.js"></script>
<script async src="/assets/js/search.js"></script>
<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "author": "{{ post.author | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>

<!-- Result -->
<div class="container mtb">
    <div class="row">
    
        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8">
        
            <!-- Search Result -->
		<ol><h3 class="ctitle" id="search-results"></h3></ol>
                <div class="spacing"></div>
        </div><!--/col-lg-8 -->
            <!-- Sidebar -->
        <div class="col-lg-4">
            {% include sidebar_search_bar.html %}
            {% include sidebar_recent_posts.html %}
            {% include sidebar_categories.html %}
            {% include sidebar_subscribe.html %}
            {% include sidebar_tags.html %}
            {% include sidebar_post_archive.html %}
        </div>
    </div><!-- /row -->
</div><!-- /container -->