{% assign author = site.data.authors[page.author] %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}">

  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
  {% else %}
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ site.description }}">
  {% endif %}
  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="{{ site.url }}/about/">
  {% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% if page.tags %}
  <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
  {% endif %}
  {% if author %}
  <meta property="article:author" content="{{ author.name }}" />
  {% endif %}

    <script>
    /*! loadCSS: load a CSS file asynchronously. [c]2016 @scottjehl, Filament Group, Inc. Licensed MIT */
      (function(w){
        "use strict";
        /* exported loadCSS */
        var loadCSS = function( href, before, media ){

          var doc = w.document;
          var ss = doc.createElement( "link" );
          var ref;
          if( before ){
            ref = before;
          }
          else {
            var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
            ref = refs[ refs.length - 1];
          }

          var sheets = doc.styleSheets;
          ss.rel = "stylesheet";
          ss.href = href;
          
          ss.media = "only x";

          
          function ready( cb ){
            if( doc.body ){
              return cb();
            }
            setTimeout(function(){
              ready( cb );
            });
          }
          
          ready( function(){
            ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
          });
          
          var onloadcssdefined = function( cb ){
            var resolvedHref = ss.href;
            var i = sheets.length;
            while( i-- ){
              if( sheets[ i ].href === resolvedHref ){
                return cb();
              }
            }
            setTimeout(function() {
              onloadcssdefined( cb );
            });
          };

          function loadCB(){
            if( ss.addEventListener ){
              ss.removeEventListener( "load", loadCB );
            }
            ss.media = media || "all";
          }

          
          if( ss.addEventListener ){
            ss.addEventListener( "load", loadCB);
          }
          ss.onloadcssdefined = onloadcssdefined;
          onloadcssdefined( loadCB );
          return ss;
        };
        
        if( typeof exports !== "undefined" ){
          exports.loadCSS = loadCSS;
        }
        else {
          w.loadCSS = loadCSS;
        }
      }( typeof global !== "undefined" ? global : this ));
    </script>

        <!-- Bootstrap core CSS -->
    <style type="text/css">
      {% include css/bootstrap.css %}
    </style>
    <!-- Custom styles for this template -->
    <style type="text/css">
      {% include css/style.css %}
    </style>
<!--     <style type="text/css">
      {% include css/lato-font.css %}
    </style> -->
    <style type="text/css">
      {% include css/raleway-font.css %}
    </style>
    <script>
      loadCSS("{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}")
    </script>
    <noscript><link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet"></noscript>
    <script>
      loadCSS("{{ "/assets/css/hoverex-all.css" | prepend: site.baseurl }}")
    </script>
    <noscript><link href="{{ "/assets/css/hoverex-all.css" | prepend: site.baseurl }}" rel="stylesheet" media="screen"></noscript>

    {% seo %}
    {% feed_meta %}
    
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84674621-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>