<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="{{site.url}}">ICT Solved!</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
      <ul class="nav-list">
        <li><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
        <li><a href="{{"/about/" | prepend: site.baseurl }}">About</a></li>
        <li><a href="{{"/contact/" | prepend: site.baseurl }}">Contact</a></li>
        <li>
          <a href="#">More</a>
          <ul class="nav-dropdown">
         <li>
          <a href="{{site.url}}/csit/" target="_blank">CSIT Nepal</a>
        </li>
        <li>
          <a href="{{site.url}}/nepali-radio/" target="_blank">Nepali Radio</a>
        </li>
        <li>
          <a href="{{site.url}}/forex-nepal/" target="_blank">Forex Nepal</a>
        </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>
