<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="{{site.url}}">ICT Solved!</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
      <ul class="nav-list">
        <li><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
        <li>
          <a href="#!">PRODUCT</a>
          <ul class="nav-dropdown">
         <li>
          <a href="{{site.url}}/csit/" target="_blank">CSIT GROUND</a>
        </li>
        <li>
          <a href="{{site.url}}/nepali-radio/" target="_blank">NEPALI RADIO</a>
        </li>
        <li>
          <a href="{{site.url}}/forex-nepal/" target="_blank">FOREX NEPAL</a>
        </li>
          </ul>
        </li>
        <li><a href="{{"/about/" | prepend: site.baseurl }}">ABOUT</a></li>
        <li><a href="{{"/contact/" | prepend: site.baseurl }}">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</section>
