    <div class="hline"></div>
    <br>
    <div class="row">
        <div class="col-lg-6">
	{% if page.previous %}



<div class="card">
  <a href="{{ site.baseurl}}{{ page.previous.url }}"><img src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.previous.img }}" alt="{{ page.previous.imagealt }}" style="width:100%"></a>
  <div class="container">
    <p class="sidebar"><a href="{{ site.baseurl}}{{ page.previous.url }}">{{ page.previous.title }}</a></p>
    <h2 class="subheading"><a href="{{ site.baseurl}}{{ page.previous.url }}">Previous Post</a></h2>
  </div>
</div>

       {% endif %}
       <br>
</div>
<div class="col-lg-6">
       {% if page.next %}




       <div class="card">
  <a href="{{ site.baseurl}}{{ page.next.url }}"><img src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.next.img }}" alt="{{ page.next.imagealt }}" style="width:100%"></a>
  <div class="container">
    <p class="sidebar"><a href="{{ site.baseurl}}{{ page.next.url }}">{{ page.next.title }}</a></p>
    <h2 class="subheading"><a href="{{ site.baseurl}}{{ page.next.url }}">Next Post</a></h2>
  </div>
</div>
		
       {% endif %}
       </div>
	</div>