<h4>Categories</h4>
    <div class="hline"></div>
    {% for category in site.categories %}{% unless category.first == "blog" or category.first == "project" or category.first == "question" %}
        <p class="sidebar">
            <a href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}"><i class="fa fa-angle-right"></i> {{ category | first }}</a>
            <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
        </p>
    {% endunless %}{% endfor %}