<h4>Search Post</h4>
    <div class="hline"></div>
        <p>
           <form action="/search" method="get" id="search-box" name="query">
            <div class="row">
            <div class="col-lg-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Input search term" id="search-box" name="query" required="required" data-error="Please input search term">
          <span class="input-group-btn">
              <button class="btn btn-default" id="search-box" name="query" type="submit" require="required">Search</button>
          </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
</form>
        </p>
        <br>