{% assign maxRelated = 4 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
<h5 class="sub-title heading-5">Similar Posts</h5>
<div class="recent-widget sidebar-widget">
    {% for post in site.posts %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in post.tags %}
    {% if post.url != page.url %}
    {% if page.tags contains tag %}
    {% assign sameTagCount = sameTagCount | plus: 1 %}
    {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
    {% assign commonTags = commonTags | append: tagmarkup %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
    <div class="recent-wrapper">
        {% if post.thumb_remote %}
        <a class="recent-img" href="{{site.url}}{{ post.url }}">
            <img src="{{ post.thumb_remote }}" alt="{{ post.title }}">
        </a>
        {% elsif post.img %}
        <a class="recent-img" href="{{site.url}}{{ post.url }}">
            <img src="{{ site.url }}/assets/images/blog/{{ post.thumb }}" alt="{{ post.title }}">
        </a>
        {% endif %}
        <div class="recent-details">
            <h6 class="heading-6"> <a href="{{site.url}}{{ post.url }}">{{ post.title }}</a> </h6>
            <ul class="recent-meta list-inline">
                <li class="list-inline-item">{{ post.date | date_to_string }}</li>
            </ul>
        </div>
    </div>
    {% if maxRelatedCounter >= maxRelated %}
    {% break %}
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

<h5 class="sub-title heading-5">Recent Posts</h5>
<div class="recent-widget sidebar-widget">
    {% for post in site.posts limit:3 %}
    <div class="recent-wrapper">
        {% if post.thumb_remote %}
        <a class="recent-img" href="{{site.url}}{{ post.url }}">
            <img src="{{ post.thumb_remote }}" alt="{{ post.title }}">
        </a>
        {% elsif post.img %}
        <a class="recent-img" href="{{site.url}}{{ post.url }}">
        <img src="{{ site.url }}/assets/images/blog/{{ post.thumb }}" alt="{{ post.title }}">
        </a>
        {% endif %}
        <div class="recent-details">
            <h6 class="heading-6"> <a href="{{site.url}}{{ post.url }}">{{ post.title }}</a> </h6>
            <ul class="recent-meta list-inline">
                <li class="list-inline-item">{{ post.date | date_to_string }}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>