---
layout: blog
title: Thanks
type: website
permalink: /thanks/
sitemap: false
robots: noindex
---

<div class="container mtb">
    <div class="row">
    
        <!-- BLOG POSTS LIST -->
        <div class="col-lg-8 centered">
        
            <!-- Search Result -->
        <h2>Thanks!</h2>
            <br>
            <div class="hline"></div>
            <br>
            <h3>You will be responded soon.</h3>
                <div class="spacing"></div>
        </div><!--/col-lg-8 -->
        <div class="spacing"></div>
            <!-- Sidebar -->
        <div class="col-lg-4">
            {% include sidebar_search_bar.html %}
            {% include sidebar_recent_posts.html %}
            {% include sidebar_categories.html %}
            {% include sidebar_subscribe.html %}
            {% include sidebar_tags.html %}
            {% include sidebar_post_archive.html %}
        </div>
    </div><!-- /row -->
</div><!-- /container -->