---
layout: default
---

<section class="page-title-area bg-cover1">
    <div class="page-title-wrapper section-spacing">
        <div class="page-title text-center white-text">
            <h2 class="heading-2">{{ page.title }}</h2>
            <ul class="page-title-meta list-inline">
                <li class="list-inline-item"><img src="{{ site.url }}/assets/images/slider-date.png"
                        alt="calendar icon">{{ page.date | date_to_string }}</li>
            </ul>
        </div>
    </div>
</section>

<section class="blog-area bg-color1">
    <div class="blog-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="single-post">
                        <div class="single-img">
                            <img src="{{ site.url }}/assets/images/blog/{{ page.img }}" alt="{{ page.title }}" />
                        </div>
                        <div class="single-content">
                            {{ content }}
                        </div>
                        <div class="single-tags-share">
                            <ul class="single-tags list-inline float-left">
                                <strong>Tag:</strong>
                                <li class="list-inline-item">
                                    <!-- <a class="text-capitalize"
                                        href="../tag/education/index.html">
                                        {% for tag in page.tags %}
                                        {{ tag }}
                                        {% endfor %}
                                    </a> -->
                                    {% for tag in page.tags %}
                                    {{ tag }}
                                    {% endfor %}
                                </li>
                            </ul>
                            <div class="social-share-btns">
                                <ul class="single-share list-inline float-right">
                                    <li class="list-inline-item">Share:</li>
                                    <li class="list-inline-item">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}"
                                            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                            title="Share on Facebook">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ page.url }}"
                                            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                            title="Share on Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <nav class="page-pagination mb-5">
                            <ul class="pagination d-flex justify-content-between themeix-highlight">
                                {% if page.previous %}
                                <li class="page-item themeix-highlight">
                                    <a class="page-link next-btn" href="{{ site.url}}/{{ page.previous.url }}"><i
                                            class="fa fa-angle-double-left"></i> Previous Post</a>
                                </li>
                                {% endif %}
                                {% if page.next %}
                                <li class="page-item themeix-highlight">
                                    <a class="page-link prev-btn" href="{{ site.url}}/{{ page.next.url }}">Next
                                        Post<i class="fa fa-angle-double-right"></i></a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <div class="post-comment">
                        {% include disqus.html %}
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="sidebar-area sidebar-right">
                        {% include sidebar-post.html %}
                        {% include sidebar-tag.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>