---
layout: default
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-8">
            <! -- Blog Post  -->
            <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            <p><small><i class="fa fa-calendar"></i>&nbsp; {{ page.date | date: "%b %-d, %Y" }} &nbsp;&nbsp;<i class="fa fa-user"></i> {{ page.author }} &nbsp;&nbsp;<i class="fa fa-clock-o"></i> Reading time: {% include read_time_post.html %} </small></p>
              
            {{ content }}
            <div class="spacing"></div>
            <h4>Share post</h4>
            <p class="share">
                <a href="//www.twitter.com/share?text={{ page.title | cgi_escape }}&url={{ page.url | prepend: site.url }}" target="_blank" onclick="window.open(this.href, 'twitter-share');return false;">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="//www.facebook.com/sharer.php?t={{ page.title | cgi_escape }}&u={{ page.url | prepend: site.url }}" target="_blank" onclick="window.open(this.href, 'facebook-share');return false;">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="//plus.google.com/share?title={{ page.title | cgi_escape }}&url={{ page.url | prepend: site.url }}" target="_blank" onclick="window.open(this.href, 'google-plus-share');return false;">
                    <i class="fa fa-google-plus"></i>
                </a>

                <a href="//www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url }}" target="_blank" onclick="window.open(this.href, 'linkedin-share');return false;">
                    <i class="fa fa-linkedin"></i>
                </a>

                <a href="//www.pinterest.com/pin/create/button/?description={{ page.title | cgi_escape }}&url={{ page.url | prepend: site.url }}&media={{ site.url }}{{ page.img | prepend: site.blog_img_path }}" target="_blank" onclick="window.open(this.href, 'pinterest-share');return false;">
                    <i class="fa fa-pinterest-p"></i>
                </a>

                <a href="//www.reddit.com/submit" onclick="window.open(this.href = '//www.reddit.com/submit?url=' + encodeURIComponent('{{ page.url | prepend: site.url }}') + '&title={{page.title}}'); return false">
                    <i class="fa fa-reddit-alien" ></i>
                </a>
                
            </p> <br>
            {% include disqus.html %}

        </div><! --/col-lg-8 -->
        
        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->